@import "variables/colores";
@import "nav/nav";
@import "productos/productos";



#top{
  background: $verde;
  height:80px;
  margin-bottom: 32px;
  box-shadow: 0px 5px 5px 1px #00000066;
  #logo_top{
    z-index: 10;
    position: absolute;
  }
}
div#logo_container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10vh;
}

h1{
}

#productos_card{
  .card{
    .card-img-top{
      height:auto;
    }
  }
}